<ion-header>
  <ion-navbar>
    <ion-title>
      KontrolON
    </ion-title>
  </ion-navbar>
</ion-header>


  <iframe src="http://datalogger.energis.cloud:3000/d/DcrnPtbmQ/copia_inerti?refresh=5s&orgId=1" width="100%" height="100%" style="border: 0px;"></iframe>
